{% extends 'scores/index.html'%}
{% block page-content %}
    <h2>Change Password</h2>
    {% if message %}
        {{ message }}
    {% endif %}
    <div>
        <form method="post" action="{% url 'scores:pwd_change' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button class="btn btn-default" type="submit" value="Submit">保存</button>
        </form>
    </div>
{% endblock %}